<ion-view view-title="Settings">
  <ion-content>
    <h1>Settings</h1>
      <ion-item ng-repeat="item in items" class="item-thumbnail-left">
        <h2>User Profile</h2>
        <ion-option-button class="button-assertive" ng-click="delete(item)">  delete </ion-option-button>
      </ion-item>
      <ion-item ng-repeat="item in items" class="item-thumbnail-left">
        <h2>Location</h2>
        <ion-option-button class="button-assertive" ng-click="delete(item)">  delete </ion-option-button>
      </ion-item>
      <ion-item ng-repeat="item in items" class="item-thumbnail-left">
        <h2>Security</h2>
        <ion-option-button class="button-assertive" ng-click="delete(item)">  delete </ion-option-button>
      </ion-item>
  </ion-content>
</ion-view>
