<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-positive">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
     
    <ion-nav-view name="menuContent"></ion-nav-view>
     
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-header-bar align-title="center" class="bar-positive">
       <h1 class="title"><img src="img/wampum_logo.png" height="44"></h1>
    </ion-header-bar>
    <ion-content>
      <ion-list>
        <ion-item class="item-icon-left" menu-close href="#" ng-click="login()">
          <i class="icon ion-ios-unlocked-outline"></i> Login
        </ion-item>
        <ion-item class="item-icon-left" menu-close href="#/app/browse">
          <i class="icon ion-ios-eye-outline"></i> Browse
        </ion-item>
        <ion-item class="item-icon-left" menu-close href="#/app/additem">
          <i class="icon ion-ios-plus-outline"></i> Add Item
        </ion-item>
        <ion-item class="item-icon-left" menu-close href="#/app/itemmatched">
          <i class="icon ion-ios-bolt-outline"></i> Matches
        </ion-item>
       <ion-item class="item-icon-left" menu-close href="#/app/myitem">
          <i class="icon ion-ios-pricetag-outline"></i> My Items
        </ion-item>
        <ion-item class="item-icon-left" menu-close href="#/app/inventory">
          <i class="icon ion-ios-box-outline"></i> Inventory
        </ion-item>
        <ion-item class="item-icon-left" menu-close href="#/app/chat">
          <i class="icon ion-ios-chatboxes-outline"></i> Chat
        </ion-item>
        <ion-item class="item-icon-left" menu-close href="#/app/settings">
          <i class="icon ion-ios-gear-outline"></i> Settings
        </ion-item>
      </ion-list>
       
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
