/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

*/

@import "seashell.scss";  // import our very own custom theme called ~* S E A S H E L L *~

// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: "../lib/ionic/release/fonts" !default;

// Include all of Ionic
@import "www/lib/ionic/scss/ionic";