/**
 * Menus
 * --------------------------------------------------
 * Side panel structure
 */

.side-menu-icon {
   color: $calm;
}

.menu {
	background-color: $dark;
	.bar-header {
		background-color: $dark;
		background-image: none;
		border-color: $light;
		.button {
			color: $assertive;
		}
	}
	.list {
		.item {
			background-color: $dark;
			border-color: $calm;
			border-left: 4px solid $dark;
			color: $calm;
			padding: 10px;
			font-size: 14px;
			&:first-child {
				border-color: $dark;
			}
			&:last-child {
				border-bottom-color: $dark;
			}
           .icon {
              color: $calm;
           }
			&.active {
				border-left: 4px solid $calm;
			}
		}
		.quit {
    		background-color: #292929;
    		border-left: 4px solid #292929;
		}
		.item-icon-left {
			padding-left: 54px;
            color: $calm;
		}
		.item-avatar {
			min-height: 0;
			padding-left: 0;
			text-align: center;
			> img:first-child {
				border: 5px solid #1a1a1a;
				max-height: 120px;
				max-width: 120px;
				position: static;
			}
           .item-content {
              background-color: $calm;
           }
		h2 {
			color: $calm;
			}
		}
		p {
			color: $calm;
		}
	}
} 
