
// Colors
// -------------------------------

$positive:                        #6267a2 !default;
$calm:                            #6267a2 !default;
$balanced:                        #6267a2 !default;
$energized:                       #68b987 !default;
$assertive:                       #6267a2 !default;
$royal:                           #9611c3 !default;
$dark:                            #2c3060 !default;
$light:                           #ffffff !default;